.articalsSectionContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    // overflow: hidden;

    .heading {
        text-align: center;
        font-weight: bold;
        font-size: 2.5rem;
    }

    .line {
        max-width: 200px;
        padding: 0 4rem;
        height: 2px;
        border-radius: 50rem;
        background-color: black;
        margin: auto;
    }

    .sliderBox {
        padding: 0 2rem;

        .card {
            width: 320px;
            margin: 1rem auto;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            border-radius: .5rem;
            overflow: hidden;
            box-shadow: 0px 0px 10px 0px rgba(128, 128, 128, 0.4);

            .imgBox {
                width: 100%;
                height: 580px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .details {
                // width: -webkit-fill-available;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 1rem;
                gap: .5rem;

                .title {
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    font-weight: bold;
                }

                .para {
                    font-size: .9rem;
                }

                .btnBox {
                    .btn {
                        width: 120px;
                        padding: 1rem;
                        font-size: small;
                    }
                }
            }

            // @media only screen and (max-width:1150px) {
            //     width: 300px;
            // }
        }
    }
}